.image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:engorda 2s linear infinite;
    -moz-animation:engorda 2s linear infinite;
    animation:engorda 2s linear infinite;
}

  @-webkit-keyframes argh-my-eyes {
    0%   { background-color: #FAAFBE; }
    49% { background-color: #FAAFBE; }
    50% { background-color: #000; }
    99% { background-color: #000; }
    100% { background-color: #FAAFBE; }
  }
  @-moz-keyframes argh-my-eyes {
    0%   { background-color: #FAAFBE; }
    49% { background-color: #FAAFBE; }
    50% { background-color: #000; }
    99% { background-color: #000; }
    100% { background-color: #FAAFBE; }
  }
  @keyframes argh-my-eyes {
    0%   { background-color: #FAAFBE; }
    49% { background-color: #FAAFBE; }
    50% { background-color: #000; }
    99% { background-color: #000; }
    100% { background-color: #FAAFBE; }
  }
  body {
  -webkit-animation: argh-my-eyes 0.2s infinite;
  -moz-animation:    argh-my-eyes 0.2s infinite;
  animation:         argh-my-eyes 0.2s infinite;
}

h1 {
    text-align: center;
		font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', 'sans serif';
	font-size: 48px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 40px;
	color: white;
	margin-top: 50px;
}

@keyframes engorda {
0% { transform:rotate(0) scale(1) }
50% { transform:rotate(360deg) scale(6) }
100% { transform:rotate(720deg) scale(1) }
}